@import "../node_modules/@addepar/style-toolbox/styles/onyx/core-variables/index";
@import "../node_modules/@addepar/style-toolbox/styles/onyx/utilities/typography/index";
@import "../node_modules/@addepar/style-toolbox/styles/onyx/elements/inputs/text/index";
@import "../node_modules/@addepar/style-toolbox/styles/onyx/elements/inputs/button/index";

* {
  box-sizing: border-box;
}

%body-font-styling {
  font-size: $font-size-medium;
  line-height: $line-height-large;
}

%date-picker-dropdown {
  display: flex;
  flex-direction: column;
  width: 600px;
  box-shadow: 0 2px 4px rgba(0,0,0, 0.2);
}

%input-default-styling {
  @extend %body-font-styling;
  background: $background-extra-light;
  transition: background 0.3s ease;

  &:focus {
    background: $background-white;
    outline: none;
  }
}

.addeDatePicker {
  // container div for the main input
  .input {
    display: inline-block;

    input {
      @extend %input-default-styling;
    }
  }
}

// Range Picker
.adde-date-range {
  @extend %date-picker-dropdown;

  .dateRangePicker-quicklinks {
    padding-top: 8px;

    .button-text {
      color: $text-link;
      min-width: 50px;

      &:hover {
        color: lighten($text-link-hover, 20%);
      }
    }
  }

  // Main Section of the Range Picker
  .body {
    display: flex;

    > .start-date,
    > .end-date {
      width: 50%;
      text-align: left;
      padding: $spacing-double;

      // Start/End Date Label
      label  {
        @extend %body-font-styling;
        color: #666;
        display: block;
        margin-bottom: $spacing-default / 4;
        font-weight: 500;
      }

      // Start/end Date inputs
      input {
        display: block;
        width: 100%;
        @extend %input-default-styling;
      }

      .DayPickerInput,
      .DayPicker {
        display: block;
      }

      .DayPicker-Month,
      .DayPickerInput-Overlay,
      .DayPickerInput-OverlayWrapper {
        width: 100%;
      }

      .DayPicker-Month {
        margin: $spacing-triple 0 0;
      }

      .DayPickerInput-Overlay {
        box-shadow: none;
        position: relative;
      }

      .DayPicker-Day {
        border-radius: 2px;
      }

      .DayPicker-Caption > div {
        @extend %body-font-styling;
      }

      .DayPicker-Day--today {
        color: #4A90E2;
      }
    }
  }

  // Footer for buttons
  .cta-footer {
    width: 100%;
    box-sizing: border-box;
    border-top: $global-border-style;
    padding: $spacing-double;

    button:not(:last-child) {
      margin-right: $spacing-double;
    }
  }

}

// Date Picker Advanced
.datepicker-query-search {
  @extend %date-picker-dropdown;
  padding: $spacing-double;

  p {
    @extend %body-font-styling;
    margin: 0;

    &.small {
      font-size: $font-size-smaller;
    }
  }

  .state-no-match {
    display: none;
  }
}

// Suggested dropdown
.react-autosuggest__suggestions-container:not(:empty) {
  @extend %date-picker-dropdown;

  ul {
    padding: $spacing-default 0;
    margin: 0;
    list-style: none;

    li {
      padding: $spacing-default $spacing-double;

      &:hover {
        background: $background-hover;
      }
    }
  }
}

.home {
  display: flex;
  height: calc(100vh - 40px);
}

.header {
  background: #222;
  height: 40px;
}

.sidebar {
  background: #f3f3f3;
  width: 300px;
}

.content {
  padding: 24px;
}
