@import "../node_modules/@addepar/style-toolbox/styles/onyx/core-variables/index";
@import "../node_modules/@addepar/style-toolbox/styles/onyx/utilities/typography/index";
@import "../node_modules/@addepar/style-toolbox/styles/onyx/elements/inputs/text/index";
@import "../node_modules/@addepar/style-toolbox/styles/onyx/elements/inputs/button/index";

%body-font-styling {
  font-size: $font-size-medium;
  line-height: $line-height-large;
}


.addeDatePicker {
  // container div for the main input
  .input {
    display: inline-block;

    input {
      @extend %body-font-styling;
    }
  }

  .dateRangePicker {
    display: flex;
    width: 600px;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.2);

    > .start-date,
    > .end-date {
      width: 50%;
      text-align: left;
      padding: $spacing-double;

      label  {
        @extend %body-font-styling;
        color: #ccc;
        display: block;
      }

      input {
        @extend %body-font-styling;
        display: block;
      }

      .DayPickerInput {
        display: block;

        .DayPickerInput-OverlayWrapper {
          width: 100%;
        }

        .DayPickerInput-Overlay {
          box-shadow: none;
          width: 100%;
          position: relative;
        }

        .DayPicker-Month {
          margin: $spacing-triple 0 0;
        }
      }
    }

    .cta-footer {
      width: 100%;
    }
  }
}

.home {
  display: flex;
  height: calc(100vh - 40px);
}

.header {
  background: #222;
  height: 40px;
}

.sidebar {
  background: #f3f3f3;
  width: 300px;
}

.content {
  padding: 24px;
}