@font-face {
  font-family: "Univers-Next";
  src: url("/@addepar/style-toolbox/assets/fonts/UniversNextW01Light.woff") format("woff"), url("/@addepar/style-toolbox/assets/fonts/UniversNextW01Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Univers-Next";
  src: url("/@addepar/style-toolbox/assets/fonts/UniversNextW01Regular.woff") format("woff"), url("/@addepar/style-toolbox/assets/fonts/UniversNextW01Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Univers-Next";
  src: url("/@addepar/style-toolbox/assets/fonts/UniversNextW01Medium.woff") format("woff"), url("/@addepar/style-toolbox/assets/fonts/UniversNextW01Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Univers-Next";
  src: url("/@addepar/style-toolbox/assets/fonts/UniversNextW01Bold.woff") format("woff"), url("/@addepar/style-toolbox/assets/fonts/UniversNextW01Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Univers-Next-Condensed";
  src: url("/@addepar/style-toolbox/assets/fonts/UniversNW01320CdLt.woff") format("woff"), url("/@addepar/style-toolbox/assets/fonts/UniversNW01320CdLt.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Univers-Next-Condensed";
  src: url("/@addepar/style-toolbox/assets/fonts/UniversNW01420CdRegular.woff") format("woff"), url("/@addepar/style-toolbox/assets/fonts/UniversNW01420CdRegular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Univers-Next-Condensed";
  src: url("/@addepar/style-toolbox/assets/fonts/UniversNW01520CdMedium.woff") format("woff"), url("/@addepar/style-toolbox/assets/fonts/UniversNW01520CdMedium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Univers-Next-Condensed";
  src: url("/@addepar/style-toolbox/assets/fonts/UniversNW01620CdBold.woff") format("woff"), url("/@addepar/style-toolbox/assets/fonts/UniversNW01620CdBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Univers-Tabular";
  src: url("/@addepar/style-toolbox/assets/fonts/UniversLTLight.woff") format("woff"), url("/@addepar/style-toolbox/assets/fonts/UniversLTLight.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Univers-Tabular";
  src: url("/@addepar/style-toolbox/assets/fonts/UniversLTRoman.woff") format("woff"), url("/@addepar/style-toolbox/assets/fonts/UniversLTRoman.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Univers-Tabular";
  src: url("/@addepar/style-toolbox/assets/fonts/UniversLTBold.woff") format("woff"), url("/@addepar/style-toolbox/assets/fonts/UniversLTBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Tiempos Headline";
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Light.eot");
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Light.eot?#iefix") format("embedded-opentype"), url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Tiempos Headline";
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-LightItalic.eot");
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-LightItalic.eot?#iefix") format("embedded-opentype"), url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Tiempos Headline";
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Regular.eot");
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Regular.eot?#iefix") format("embedded-opentype"), url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Tiempos Headline";
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-RegularItalic.eot");
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-RegularItalic.eot?#iefix") format("embedded-opentype"), url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Tiempos Headline";
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Medium.eot");
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Medium.eot?#iefix") format("embedded-opentype"), url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Tiempos Headline";
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-MediumItalic.eot");
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Tiempos Headline";
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Bold.eot");
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Bold.eot?#iefix") format("embedded-opentype"), url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Tiempos Headline";
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-BoldItalic.eot");
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Tiempos Text";
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-Regular.eot");
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-Regular.eot?#iefix") format("embedded-opentype"), url("/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Tiempos Text";
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-RegularItalic.eot");
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-RegularItalic.eot?#iefix") format("embedded-opentype"), url("/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Tiempos Text";
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-Semibold.eot");
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-Semibold.eot?#iefix") format("embedded-opentype"), url("/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-Semibold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Tiempos Text";
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-SemiboldItalic.eot");
  src: url("/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-SemiboldItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
html,
body {
  font-family: "Univers-Next", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
html *,
body * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type=text].adde-text-input {
  box-sizing: border-box;
  height: 32px;
  padding: 0 12px;
  border: 1px solid #c7c7c7;
}
input[type=text].adde-text-input:invalid, input[type=text].adde-text-input.is-invalid {
  border-color: #cb323b;
  outline-color: #cb323b;
}

.adde-color-picker-button, .button-icon, .button-link, .button-danger, .button-primary, .button-default, .button-select, .button-text {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  line-height: 1;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  color: #333333;
  font-family: "Univers-Next", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  height: 32px;
  vertical-align: middle;
  min-width: 72px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}
.adde-color-picker-button:active, .button-icon:active, .button-link:active, .button-danger:active, .button-primary:active, .button-default:active, .button-select:active, .button-text:active, .is-active.adde-color-picker-button, .is-active.button-icon, .is-active.button-link, .is-active.button-danger, .is-active.button-primary, .is-active.button-default, .is-active.button-select, .is-active.button-text {
  box-shadow: none;
}
.adde-color-picker-button:active:focus, .button-icon:active:focus, .button-link:active:focus, .button-danger:active:focus, .button-primary:active:focus, .button-default:active:focus, .button-select:active:focus, .button-text:active:focus, .is-active.adde-color-picker-button:focus, .is-active.button-icon:focus, .is-active.button-link:focus, .is-active.button-danger:focus, .is-active.button-primary:focus, .is-active.button-default:focus, .is-active.button-select:focus, .is-active.button-text:focus, .active.adde-color-picker-button:focus, .active.button-icon:focus, .active.button-link:focus, .active.button-danger:focus, .active.button-primary:focus, .active.button-default:focus, .active.button-select:focus, .active.button-text:focus {
  outline: none;
}
.adde-color-picker-button:hover, .button-icon:hover, .button-link:hover, .button-danger:hover, .button-primary:hover, .button-default:hover, .button-select:hover, .button-text:hover {
  color: #5c5c5c;
}
.adde-color-picker-button:active, .button-icon:active, .button-link:active, .button-danger:active, .button-primary:active, .button-default:active, .button-select:active, .button-text:active, .is-active.adde-color-picker-button, .is-active.button-icon, .is-active.button-link, .is-active.button-danger, .is-active.button-primary, .is-active.button-default, .is-active.button-select, .is-active.button-text, .active.adde-color-picker-button, .active.button-icon, .active.button-link, .active.button-danger, .active.button-primary, .active.button-default, .active.button-select, .active.button-text, .open .dropdown-toggle.adde-color-picker-button, .open .dropdown-toggle.button-icon, .open .dropdown-toggle.button-link, .open .dropdown-toggle.button-danger, .open .dropdown-toggle.button-primary, .open .dropdown-toggle.button-default, .open .dropdown-toggle.button-select, .open .dropdown-toggle.button-text {
  color: #0a0a0a;
}
.adde-color-picker-button:focus, .button-icon:focus, .button-link:focus, .button-danger:focus, .button-primary:focus, .button-default:focus, .button-select:focus, .button-text:focus {
  outline-offset: -2px;
  outline-color: #c7c7c7;
}
[disabled].adde-color-picker-button, [disabled].button-icon, [disabled].button-link, [disabled].button-danger, [disabled].button-primary, [disabled].button-default, [disabled].button-select, [disabled].button-text, fieldset[disabled] .adde-color-picker-button, fieldset[disabled] .button-icon, fieldset[disabled] .button-link, fieldset[disabled] .button-danger, fieldset[disabled] .button-primary, fieldset[disabled] .button-default, fieldset[disabled] .button-select, fieldset[disabled] .button-text {
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: none;
  color: #adadad;
}
.open .dropdown-toggle.adde-color-picker-button:focus, .open .dropdown-toggle.button-icon:focus, .open .dropdown-toggle.button-link:focus, .open .dropdown-toggle.button-danger:focus, .open .dropdown-toggle.button-primary:focus, .open .dropdown-toggle.button-default:focus, .open .dropdown-toggle.button-select:focus, .open .dropdown-toggle.button-text:focus, .open [data-toggle=dropdown].adde-color-picker-button:focus, .open [data-toggle=dropdown].button-icon:focus, .open [data-toggle=dropdown].button-link:focus, .open [data-toggle=dropdown].button-danger:focus, .open [data-toggle=dropdown].button-primary:focus, .open [data-toggle=dropdown].button-default:focus, .open [data-toggle=dropdown].button-select:focus, .open [data-toggle=dropdown].button-text:focus {
  outline: none;
  color: #595959;
}

label[class^=button-] {
  line-height: 32px;
  min-width: min-content;
}

.button-default, .button-select {
  color: #333333;
  background-color: #f4f4f4;
  border-color: #c7c7c7;
}
.button-default:hover, .button-select:hover {
  color: #0a0a0a;
  background-color: #f6f6f6;
  border-color: #bcbcbc;
}
.button-default[disabled], [disabled].button-select, fieldset[disabled] .button-default, fieldset[disabled] .button-select {
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: none;
  color: #adadad;
  background-color: #fbfbfb;
  border-color: #e9e9e9;
}
.button-default:active, .button-select:active, .button-default.is-active, .is-active.button-select, .open .button-default.dropdown-toggle, .open .dropdown-toggle.button-select {
  color: #0a0a0a;
  background-color: #f2f2f2;
  border-color: #bcbcbc;
}

.button-primary {
  color: #ffffff;
  background-color: #333333;
  border-color: black;
}
.button-primary:hover {
  color: white;
  background-color: #5c5c5c;
  border-color: black;
}
.button-primary[disabled], fieldset[disabled] .button-primary {
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: none;
  color: white;
  background-color: #adadad;
  border-color: #999999;
}
.button-primary:active, .button-primary.is-active, .open .button-primary.dropdown-toggle {
  color: white;
  background-color: #0a0a0a;
  border-color: black;
}

.button-danger {
  color: #ffffff;
  background-color: #cb323b;
  border-color: #791e23;
}
.button-danger:hover {
  color: white;
  background-color: #d55b62;
  border-color: #5e0000;
}
.button-danger[disabled], fieldset[disabled] .button-danger {
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: none;
  color: white;
  background-color: #eaadb1;
  border-color: #c9a5a7;
}
.button-danger:active, .button-danger.is-active, .open .button-danger.dropdown-toggle {
  color: white;
  background-color: #c10914;
  border-color: #5e0000;
}

.button-link {
  color: #27618a;
  background-color: transparent;
  border-color: transparent;
}
.button-link:hover {
  color: #004173;
  background-color: transparent;
  border-color: transparent;
}
.button-link[disabled], fieldset[disabled] .button-link {
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: none;
  color: #a9c0d0;
  background-color: transparent;
  border-color: transparent;
}
.button-link:active, .button-link.is-active, .open .button-link.dropdown-toggle {
  color: #004173;
  background-color: transparent;
  border-color: transparent;
}
.button-link:not(:hover) {
  text-decoration: underline;
}

.button-select {
  border-style: dashed;
}

.button-icon {
  color: #999999;
  padding: 0;
  width: 32px;
  min-width: 32px;
}
.button-icon:hover, .button-icon:active, .button-icon.is-active, .button-icon.active, .open .button-icon.dropdown-toggle {
  border-color: #c7c7c7;
}
.button-icon:active, .button-icon.is-active, .button-icon.active, .open .button-icon.dropdown-toggle {
  background-color: #efefef;
}
.button-icon img {
  transition: opacity 0.1s ease-out;
  opacity: 0.2;
  height: 20px;
}
.button-icon:hover img, .button-icon.is-active img, .button-icon.active img {
  opacity: 1;
}

.adde-color-picker-button {
  display: inline-flex;
  align-items: center;
}
.adde-color-picker-button .button-caret {
  padding: 0 8px;
  vertical-align: middle;
}

.button-flush-group {
  display: flex;
  flex-wrap: wrap;
}
.button-flush-group [class^=button-] + [class^=button-] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}
.button-flush-group [class^=button-]:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.button-flush-group [class^=button-][disabled] {
  z-index: -1;
}

.button-large {
  height: 40px;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 88px;
}

.adde-color-picker-button {
  color: #333333;
  background-color: #f4f4f4;
  border-color: #c7c7c7;
  padding: 0;
  min-width: auto;
}
.adde-color-picker-button:hover {
  color: #0a0a0a;
  background-color: #f6f6f6;
  border-color: #bcbcbc;
}
.adde-color-picker-button[disabled], fieldset[disabled] .adde-color-picker-button {
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: none;
  color: #adadad;
  background-color: #fbfbfb;
  border-color: #e9e9e9;
}
.adde-color-picker-button:active, .adde-color-picker-button.is-active, .open .adde-color-picker-button.dropdown-toggle {
  color: #0a0a0a;
  background-color: #f2f2f2;
  border-color: #bcbcbc;
}
.is-invalid .adde-color-picker-button {
  border-color: #cb323b;
  outline-color: #cb323b;
}
.adde-color-picker-button .color-cell {
  width: 24px;
  height: 24px;
}

* {
  box-sizing: border-box;
}

.date-picker-wrapper input, .date-picker-wrapper label, .addeDatePicker .input input {
  font-size: 14px;
  line-height: 1.33;
}

.addeDatePicker .input {
  display: inline-block;
}
.dateRangePicker {
  width: 620px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dateRangePicker-content {
  display: flex;
}

.dateRangePicker-quicklinks {
  padding-top: 8px;
}

.date-picker-wrapper {
  padding: 16px;
}
.date-picker-wrapper label {
  color: #666;
  display: inline-block;
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: 500;
}
.date-picker-wrapper input {
  display: inline-block;
  width: 100%;
  padding: 6px 8px;
}

.DayPickerInput {
  display: block;
}

.DayPickerInput-OverlayWrapper {
  width: 100%;
}

.DayPickerInput-Overlay {
  box-shadow: none;
  width: 100%;
  position: relative;
}

.DayPicker-Month {
  margin: 24px 0 0;
}

.cta-footer {
  padding: 16px;
  text-align: right;
  border-top: 1px #ccc solid;
}
.cta-footer button {
  margin-left: 8px;
}

div.DayPicker-Day {
  border-radius: 2px;
}

div.DayPicker-Caption > div {
  font-size: 14px;
}

div.DayPicker-Day--today {
  color: #4A90E2;
}

.button-text {
  color: #4A90E2;
  min-width: 50px;
}
.button-text:hover {
  color: #76abe9;
}

.home {
  display: flex;
  height: calc(100vh - 40px);
}

.header {
  background: #222;
  height: 48px;
  color: #f3f3f3;
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  flex: 1;
  align-items: center;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  text-indent: 0;
}

.header-dropdown {
  padding: 0 24px;
  height: 100%;
  align-items: center;
  display: flex;
}

.context-chooser {
  border-right: 1px #626262 solid;
}

.header-tab {
  display: flex;
  height: 100%;
  align-items: center;
}

.header-tab-item {
  height: 100%;
  align-items: center;
  display: flex;
  color: #A1A1A1;
  padding: 0 24px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.header-tab-item.is-active {
  color: #f3f3f3;
  border-bottom: 3px #4ECFFF solid;
  position: relative;
}
.header-tab-item:hover {
  color: #bbbbbb;
}

.sidebar {
  background: #f3f3f3;
  width: 300px;
}

.content {
  padding: 24px;
}

/*# sourceMappingURL=App.css.map */
