@import "../node_modules/@addepar/style-toolbox/styles/onyx/core-variables/index";
@import "../node_modules/@addepar/style-toolbox/styles/onyx/utilities/typography/index";
@import "../node_modules/@addepar/style-toolbox/styles/onyx/elements/inputs/text/index";
@import "../node_modules/@addepar/style-toolbox/styles/onyx/elements/inputs/button/index";

* {
  box-sizing: border-box;
}

%body-font-styling {
  font-size: $font-size-medium;
  line-height: $line-height-large;
}


.addeDatePicker {
  // container div for the main input
  .input {
    display: inline-block;

    input {
      @extend %body-font-styling;
    }
  }  
}

.dateRangePicker {
    width: 620px;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.2);
}


.dateRangePicker-content {
    display: flex;
}

.dateRangePicker-quicklinks {
  padding-top: 8px;
}

.date-picker-wrapper {
  padding: $spacing-double;

  label  {
    @extend %body-font-styling;
    color: #666;
    display: inline-block;
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: 500;
  }

  input {
    @extend %body-font-styling;
    display: inline-block;
    width: 100%;
    padding: 6px 8px;
  }

  
}

.DayPickerInput {
  display: block;
}

.DayPickerInput-OverlayWrapper {
  width: 100%;
}

.DayPickerInput-Overlay {
  box-shadow: none;
  width: 100%;
  position: relative;
}

.DayPicker-Month {
  margin: $spacing-triple 0 0;
}


.cta-footer {
  padding: 16px;
  text-align: right;
  border-top: 1px #ccc solid;

  button {
    margin-left: 8px;
  }
}

div.DayPicker-Day {
  border-radius: 2px;
}

div.DayPicker-Caption > div {
  font-size: 14px;
}

div.DayPicker-Day--today {
  color: #4A90E2;
}

.button-text {
  color: #4A90E2;
  min-width: 50px;
  &:hover {
    color: lighten(#4A90E2, 10%);
  }
}

.home {
  display: flex;
  height: calc(100vh - 40px);
}

.header {
  background: #222;
  height: 48px;
  color: #f3f3f3;
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  flex: 1;
  align-items: center;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  text-indent: 0;
}

.header-dropdown {
  padding: 0 24px;
  height: 100%;
  align-items: center;
  display: flex;
}

.context-chooser {
  border-right: 1px #626262 solid;
}

.header-tab {
  display: flex;
  height: 100%;
  align-items: center;
}

.header-tab-item {
  height: 100%;
  align-items: center;
  display: flex;
  color: #A1A1A1;
  padding: 0 24px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  cursor: pointer;


  &.is-active {
    color: #f3f3f3;
    border-bottom: 3px #4ECFFF solid;
    position: relative;
  }

  &:hover {
    color: lighten(#A1A1A1, 10%);

  }
}


.sidebar {
  background: #f3f3f3;
  width: 300px;
}

.content {
  padding: 24px;
}

